<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal de Publicaciones</title>
</head>
<body>

    <header>
        <h1>Portal de Publicaciones</h1>
    </header>

    <nav>
        <a href="{% url 'publicaciones:inicio' %}">Inicio</a>
        |
        <a href="{% url 'publicaciones:lista_publicaciones' %}">
            Publicaciones
        </a>
    </nav>

    <hr>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <hr>

    <footer>
        <p>TP Django - Portal de publicaciones</p>
    </footer>

</body>
</html>